.up {
  position: fixed;
  right: 30px;
  bottom: 30px;

  width: 40px;
  height: 40px;

  cursor: pointer;

  border: none;
  border-radius: 11px;

  background: var(--primary);
}

.up:hover {
  background: var(--primary-hover);
}
